@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* schoolbell-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/schoolbell-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.container {
  max-width: 1173px;
  width: 100%;
  margin: 0 auto;
}

.portfoliya {
  background-color: #04394b;
  height: 1351px;
}

.header .header_container {
  align-items: center;
  display: flex;
  padding-top: 45px;
}
.header .header_container img {
  margin-right: 225px;
  cursor: pointer;
}
.header .header_container a {
  text-decoration: none;
  color: #A1B5BB;
  margin-left: 50px;
  transition: all 0.5s;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
}
.header .header_container a:hover {
  border-bottom: 2px solid #A1B5BB;
}
.header .header_container button {
  max-width: 140px;
  height: 48px;
  border-radius: 25px;
  border: none;
  margin-left: 180px;
  cursor: pointer;
  background-color: #145E76;
  padding: 10px 20px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: 28.8px;
  color: #fff;
}
@media only screen and (max-width: 1200px) {
  .header .header_container a {
    font-size: 15px;
    line-height: 20px;
    margin-left: 35px;
  }
  .header .header_container img {
    margin-right: 140px;
  }
  .header .header_container button {
    font-size: 15px;
    height: 43px;
    margin-left: 140px;
    max-width: 100px;
  }
}
@media only screen and (max-width: 1200px) {
  .header {
    padding: 0 20px;
  }
}

.main .main_container .musik {
  max-width: 195px;
  height: 54px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 30px;
  font-family: "Schoolbell";
  font-size: 24px;
  font-weight: 400;
  line-height: 33.42px;
  background-color: #094556;
  margin-top: 150px;
}
.main .main_container h1 {
  color: #fff;
  max-width: 537px;
  height: 240px;
  font-family: "Inter";
  font-size: 64px;
  font-weight: 700;
}
.main .main_container p {
  color: #849499;
  padding-top: 30px;
  width: 450px;
  margin-bottom: 50px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}
.main .main_container .hire {
  width: 137px;
  height: 60px;
  border-radius: 25px;
  font-family: "Inter";
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 28.8px;
  background-color: #FFA63A;
  color: #fff;
}
.main .main_container .work {
  color: #B6CDD4;
  background-color: #04394b;
  border: none;
  margin-left: 50px;
  cursor: pointer;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 28.8px;
}
.main .position {
  background-image: url(../img/image.png);
  width: 918px;
  height: 755px;
  position: absolute;
  top: 67px;
  margin-left: 507px;
}
.main .posittion {
  width: 280px;
  height: 169px;
  border: 3px solid #b5c1c5;
  border-radius: 20px;
  position: absolute;
  top: 310px;
  left: 1130px;
  background-color: #37616f;
  padding: 20px 28px;
}
.main .posittion .user-text {
  color: #fff;
  width: 244px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}
.main .posittion .user-img {
  display: flex;
  align-items: center;
}
.main .posittion .user-img img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}
.main .posittion .user-img-paragref .jason {
  color: #fff;
  margin: 0;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0.05em;
}
.main .posittion .user-img-paragref .uh {
  width: 125px;
  height: 23px;
  margin: 0;
  color: #A1B5BB;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 22.4px;
}

.statistik_container {
  margin-top: -200px;
  width: 1000px;
  height: 323px;
  border-radius: 30px;
  background-color: #fff;
  padding: 18px 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.statistik_container h3 {
  margin-top: 100px;
  width: 123px;
  height: 23px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 22.4px;
  color: #265A6A;
}
.statistik_container .views {
  display: flex;
  gap: 110px;
}
.statistik_container .views .price {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
  line-height: 22.4px;
  color: #08546C;
}
.statistik_container .views .price-text {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #08546C;
}

.services_container .servise {
  font-family: "Schoolbell";
  font-size: 24px;
  font-weight: 400;
  line-height: 22.4px;
  width: 76px;
  height: 23px;
  color: #265A6A;
  margin-left: 546px;
  margin-top: 200px;
}
.services_container h2 {
  width: 510px;
  height: 120px;
  font-family: "Inter";
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
  margin-left: 329px;
  color: #08546C;
  gap: 26px;
}
.services_container .cards {
  display: flex;
}
.services_container .card {
  width: 253px;
  height: 200px;
  padding: 29px 32px;
  margin-bottom: 200px;
  transition: all 0.8s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: 26px;
}
.services_container .card i {
  width: 50px;
  height: 50px;
  margin-left: 13px;
  color: #04394b;
}
.services_container .card .ux {
  height: 29px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  color: #0F1221;
}
.services_container .card .card-text {
  width: 215px;
  height: 73px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #696969;
}
.services_container .card:hover {
  background-color: #08546C;
}
.services_container .card:hover i {
  color: #fff;
}
.services_container .card:hover .ux {
  color: #fff;
}
.services_container .card:hover .card-text {
  color: #B2BBBD;
}